@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&family=Merriweather:wght@300&family=Roboto:wght@300;400;500;700&display=swap');

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}